# Auto detect text files and perform LF normalization
* text=auto eol=crlf

# Force LF for all shell scripts
*.sh text eol=lf

# Don't normalize line endings for game files
in_game/** -text !eol
main_menu/** -text !eol
loading_screen/** -text !eol
tools/dependencies/gui-tracking/** -text !eol